@model IEnumerable<CTMS.Models.Appointment>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2" id="btnApointments" style="cursor:pointer">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Appointments</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div class="container-fluid" id="dataContainer">
            <table class="table table-hover table-striped" id="employeeTable" style="display:none">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Number In Queue</th>
                            <th>Booking Date</th>
                            <th>Patient Email</th>
                            <th>Paid </th>
                        </tr>
                    </thead>
                    <tbody id="dataContainer">

                    </tbody>
                </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/ajax/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(function () {
        $('#btnApointments').click(function () {
            $('#dataContainer').load('/Appointments/GetAppointmentForDoctors', { count: 20 }, function (data) {
                console
            });


                        $.ajax({
                            url: '/Appointments/GetAppointmentForDoctors',
                            method: 'get',
                            data: { count: 20 },
                            success: function (result) {

                                $.each(result, (index, emp) => {
                                    console.log(emp);


                                    var row = `<tr>

            <td>${emp.Patient.Name}</td>
            <td>${emp.NumberInQueue}</td>
            <td>${emp.BookingDate}</td>
            <td>${emp.PatientEmail}</td>
            <td>${emp.Paid}</td>
            </tr>`
                                    $('#dataContainer').append(row);

                                });
                                $('#employeeTable').show();
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        })
        })

    });
</script>