@using CTMS.Models
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>
    $(function () {


        $("#St").change(function () {
            $.get("/Home/GetCityByID",
                { ID: $("#St").val() },
                function (data) {
                    $("#city").empty();
                    $.each(data,
                        function (index, row) {
                            $("#city").append(`<option value="${row.Id}">${row.Name}</option>`);
                        });
                });
        });
    });
</script>

@using (Html.BeginForm("GetDoctors", "Home", FormMethod.Post))
{

    <div class="jumbotron">
        <h1>Clinic Time Managment System</h1>
        <p class="lead">CTMS is a free website for Booking  Appointment At Doctor that you choose as you want </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>SpecialityList</p>

            <select class="form-control" id="CaID" name="categoryid">
                <option value="-1">Choose Category </option>
                @foreach (var count in (List<Speciality>)ViewBag.SpecialityName)
                {
                    <option value="@count.Id">@count.Name </option>

                }
            </select>
        </div>
        <div class="col-md-3">
            <p>GovernorateList</p>

            <select class="form-control" id="St" name="stateId">
                <option value="-1">Choose Governorate </option>
                @foreach (var count in (List<Governorate>)ViewBag.GovernorateName)
                {

                    <option value="@count.Id">@count.Name</option>

                }
            </select>
        </div>
        <div class="col-md-3">
            <p>CityList</p>
            <select id="city" class="form-control" name="cityId">
                <option value="-1">Choose area</option>
            </select>
        </div>
        <div class="col-md-3">
            <p>Click Here</p>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Get DoCtors" />
            </div>
        </div>
    </div>


}