
@{
    ViewBag.Title = "PatientLayOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PatientLayOut</h2>
<div>
    <link href="~/Content/all.min.css" rel="stylesheet" />

    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/Content/style2.css" rel="stylesheet" />
    @Html.ActionLink("Complete your Information !!", "Complete", "Patients", routeValues: null, htmlAttributes: new { @class = " btn info_button" })
    <br />
    <br />
    <br />
    <br />


    @Html.ActionLink("My Information", "Details", "Patients", routeValues: null, htmlAttributes: new { @class = " btn info_button" })
    <br />
    <br />
    <br />
    <br />


    @Html.ActionLink("My Appointments", "GetAppointmentForPatients", "Appointments", routeValues: null, htmlAttributes: new { @class = " btn info_button" })

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./script/script2.js"></script>
</div>