
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Tables</h2>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <p class="mb-4">Data Tables is a third party Diagonsed that is used to generate the charts About your Patients. The charts below have been customized - for further customization options.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>BloodType</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>BloodType</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>Ahmed Mohamed</td>
                            <td>Cairo</td>
                            <td>61</td>
                            <td>2020/04/25</td>
                            <td>A+</td>
                        </tr>
                        <tr>
                            <td>Mohamed Ahmed</td>
                            <td>Cairo</td>
                            <td>61</td>
                            <td>2020/04/25</td>
                            <td>A+</td>
                        </tr>
                        <tr>
                            <td>Mahmoud Mohamed</td>
                            <td>Giza</td>
                            <td>37</td>
                            <td>2020/06/02</td>
                            <td>B+</td>
                        </tr>
                        <tr>
                            <td>Omar Ahmed</td>
                            <td>Giza</td>
                            <td>53</td>
                            <td>2020/10/22</td>
                            <td>O+</td>
                        </tr>
                        <tr>
                            <td>Mona Mohamed</td>
                            <td>Six Of October</td>
                            <td>27</td>
                            <td>2020/05/07</td>
                            <td>AB</td>
                        </tr>
                        <tr>
                            <td>Haidy Ahmed</td>
                            <td>Giza</td>
                            <td>22</td>
                            <td>2019/10/26</td>
                            <td>O-</td>
                        </tr>
                        <tr>
                            <td>Reham Hamdy</td>
                            <td>Ebrahmia</td>
                            <td>46</td>
                            <td>2020/03/09</td>
                            <td>AB</td>
                        </tr>
                        <tr>
                            <td>Ahmed Mohamed</td>
                            <td>Cairo</td>
                            <td>61</td>
                            <td>2020/04/25</td>
                            <td>A+</td>
                        </tr>
                        <tr>
                            <td>Mohamed Ahmed</td>
                            <td>Cairo</td>
                            <td>61</td>
                            <td>2020/04/25</td>
                            <td>A+</td>
                        </tr>
                        <tr>
                            <td>Mahmoud Mohamed</td>
                            <td>Giza</td>
                            <td>37</td>
                            <td>2020/06/02</td>
                            <td>B+</td>
                        </tr>
                        <tr>
                            <td>Omar Ahmed</td>
                            <td>Giza</td>
                            <td>53</td>
                            <td>2020/10/22</td>
                            <td>O+</td>
                        </tr>
                        <tr>
                            <td>Mona Mohamed</td>
                            <td>Six Of October</td>
                            <td>27</td>
                            <td>2020/05/07</td>
                            <td>AB</td>
                        </tr>
                        <tr>
                            <td>Haidy Ahmed</td>
                            <td>Giza</td>
                            <td>22</td>
                            <td>2019/10/26</td>
                            <td>O-</td>
                        </tr>
                        <tr>
                            <td>Reham Hamdy</td>
                            <td>Ebrahmia</td>
                            <td>46</td>
                            <td>2020/03/09</td>
                            <td>AB</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
    
<!-- End of Main Content -->